html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%; }

body {
  background: transparent;
  background-size: 110%; }

.content {
  background-color: rgba(255, 255, 255, 0.93);
  backdrop-filter: blur(5px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .content .column2 {
    width: 100%;
    display: flex; }
    .content .column2 .left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .content .column2 .right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .content .column2 .tema {
      max-width: 100%; }

.countdown {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 100px;
  text-align: center;
  color: #8D8D8D;
  padding: 95px 0 65px; }
  .countdown.wait {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    letter-spacing: -2px; }

#live-icon circle {
  -webkit-animation: fadein 2s infinite;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s infinite;
  /* Firefox < 16 */
  -ms-animation: fadein 2s infinite;
  /* Internet Explorer */
  -o-animation: fadein 2s infinite;
  /* Opera < 12.1 */
  animation: fadein 2s infinite; }

@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.close-live .logo {
  margin-bottom: 181px; }

.close-live .title {
  color: #959595;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
  margin-top: 32px; }

.lower-thirds {
  font-family: 'Kumbh Sans', sans-serif; }
  .lower-thirds .box-lower-thirds {
    height: 104px;
    position: fixed;
    bottom: 40px;
    left: 0;
    display: flex; }
    .lower-thirds .box-lower-thirds b {
      font-weight: bold; }
    .lower-thirds .box-lower-thirds .brand {
      background-color: #fff;
      width: 104px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .lower-thirds .box-lower-thirds .caption-1 {
      background-color: #BF0811;
      color: white;
      font-size: 24px;
      font-weight: 300;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase; }
    .lower-thirds .box-lower-thirds .caption-2 {
      background-color: white;
      padding: 0 40px;
      font-size: 24px;
      font-weight: 300;
      padding: 0 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 1s ease-in-out; }

.contribution img {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  max-width: 100%; }

.praise .box-lower-thirds {
  right: 0;
  left: auto;
  bottom: auto;
  top: 40px; }

.fadeOut {
  opacity: 0;
  visibility: hidden; }
